/* Conditions */
* {
    box-sizing: border-box;
  }
 
  html{
    font-size: 62.5%;
    font-family: 'Comfortaa', sans-serif;
  } 

  body {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
  }


/* Header */
.cab{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    height: 100px;
}
.cab1{
    display: flex;
    margin-right: 20px;
}
.ccc a {
    width: 100%;
    display: flex;
    padding: 10px;   
}
.ccc{
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
.list{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px;
}

.list :hover{
    color: #E37F4B;
}

.list a{
    color: black;
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    gap: 30px;
} 


  /* BODY 1 */


.contt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
    padding: 5rem;
    width: 90%;
}

.voigara{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.titu h3{
    text-align: center;
    font-size: 5rem;
    padding: 2rem;
}

.titu h1{
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    color: #808080;
}

.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    padding: 1rem;
}

.add label{
    font-size: 2rem;
}

.add input{
    width: 30rem;
    height: 4rem;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
}



.mb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.mb label{
    font-size: 2rem;
}

.bots{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.bots button{
    font-size: 2rem;
}

.prin{
    display: flex;
    gap: 2rem;
}

.sp{
    background-color: #e3aaa6;
    color: black;
    border-radius: 5px;
    height: 5rem;
}

.aj{
    background-color: #c6f99a;
    color: black;
    border-radius: 5px;
    height: 5rem;
}

.mo{
    background-color: #a6d4f2;
    color: black;
    border-radius: 5px;
    height: 5rem;
}

.bff input{
    width: 30rem;
    height: 10rem;
}






.orl{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.voilist th{
    font-size: 2rem;
}

.voilist td{
    font-size: 2rem;
}

.voilist tr{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}